* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.2%;
}
body {
  font-family: "Manrope", sans-serif;
  background: $light-Grayish-Blue;
  padding: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
